<mat-card class="login-card">
  <span class="material-icons back" (click)="navigateTo()" matTooltip="Home">
    keyboard_backspace
  </span>
  <mat-card-title>Admin login</mat-card-title>
  <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="submit()">
      <p>
        <mat-form-field>
          <input
            type="text"
            matInput
            placeholder="Username"
            formControlName="username"
          />
          <mat-error *ngIf="form.value.username == ''">Username is required</mat-error>
        </mat-form-field>
      </p>

      <p>
        <mat-form-field>
          <input
            type="password"
            matInput
            placeholder="Password"
            formControlName="password"
          />
          <mat-error *ngIf="form.value.password == ''">Password is required</mat-error>
        </mat-form-field>
      </p>

      <div class="button">
        <button type="submit" mat-raised-button color="primary" class="login-button">Login</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
