<h1 mat-dialog-title>
  Select your file
  <button
    type="button"
    mat-button
    color="light"
    class="close"
    (click)="onClose()"
  >
    <mat-icon>
      close
    </mat-icon>
  </button>
</h1>
<hr />
<div mat-dialog-content>
  <p class="mat-content">
    Click on browse to select the file.

    <span class="browse-button"
      ><button
        type="button"
        mat-raised-button
        color="primary"
        (click)="uploader.click()"
        class="browse"
      >
        <span class="material-icons">
          attach_file
        </span>
        Browse
        <input
          hidden
          type="file"
          #uploader
          accept="image/*"
          onclick="this.value=null"
          (change)="onSelectFile($event)"
        /></button
    ></span>
  </p>
  <p class="image-name">{{this?.selectedFile?.name}}</p>
  <div class="loading-progress-bar" *ngIf="this.loading">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>
  <div
    class="loaded-progress-bar"
    [ngStyle]="{'visibility': this.selectedFile == null ? 'hidden' : ''}"
  >
    <mat-progress-bar
      mode="determinate"
      value="100"
      *ngIf="!this.loading"
    ></mat-progress-bar>
  </div>
</div>
<div mat-dialog-actions>
  <button
    type="button"
    mat-raised-button
    color="warn"
    [mat-dialog-close]="false"
    class="cancel"
  >
    Cancel
  </button>
  <button type="button" mat-raised-button color="primary" class="ok" (click)="onSubmit()">
    Ok
  </button>
</div>
